.sidepanel {
	position: fixed;
	top: 230px;
	left: 36px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 340px;
	z-index: 3;
	color: #000;
	&__divider {
		width: 70px;
		height: 0px;
		margin-top: 20px;
		border: 2px solid #000;
		transform: rotate(-90deg);
	}
	&__text {
		width: 25px;
		height: 150px;
		margin-top: 15px;
		span {
			display: block;
			font-size: 16px;
			transform: rotate(-90deg) translate(-30%,-290%);
			width: 160px;
		}
	}
}